<div class="bios">
	<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="banner_1">
				<h1 class="subtitle white"></h1>
				<h2 class="title white">Este es Mike Bonza</h2>
			</div>
		</div>
	</div>
	</div>
</div>
<div id="pinta">
</div>


<div id="ribu">
<div class="row">
	<div class="col-md-6">
		<div class="corte">
		<%= image_tag "cover.png" %>
		</div>
	</div>

	<div class="container">
	<div class="col-md-6">
		<div id="tara">
			<h1 class="big_title">Biografía</h1>
			<hr class="left">
<h4 class="shadow">C</h4>
		<p>
	
	Cantante Mexicano, nacido en la Ciudad de México, se enamoró de la música escuchando desde
pequeño, a leyendas como Frank Sinatra, Dean Martin, Sammy Davis Jr. y Elvis Presley. Es por esto
por lo que inicia su carrera artística con un disco y un show alucinante en el cual canta temas de
estos grandes artistas. <br><br><br>
En palabras de Mike, su corazón vibra con lo siguiente: “Mi ideal es ser un showman total; lograr
llevar al mayor número de personas mi música, mi energía y mi pasión”. <br><br><br>
Mike cree totalmente que la música es un vehículo para mejorar al mundo, unir a las personas, y a
los países. Por esto uno de sus objetivos es posicionarse a nivel internacional; llegar al mayor
número de personas y poder hacer colaboraciones con diferentes artistas de todo el mundo:
creando puntos de encuentro a través de la música.

		</p>

		<a class= "button button_secondary" href="<%= new_contact_path %>">Contrataciones</a>
		<br><br>
		<%= image_tag "concierto.png" %>
	</div>
	</div>
	</div>
</div>
</div>