<div class="container">
    <div id="insta">

        <h1>Galería</h1>
        <hr>
        <h4 class="shadow">L</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit accusamus id repellat deserunt qui dignissimos sunt minus consequatur, voluptate, quisquam repudiandae ducimus laboriosam debitis! Nihil consequatur quibusdam voluptatem autem officiis!</p> <br><br><br>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-1b74fc62-66f2-4b03-8f92-0025e7e7336c"></div>
    </div>
</div>