<div class="town">
	<div class="container">
	<div class="row">
			<div id="banner_1">
				<h1 class="subtitle white">Mkie Bonza</h1>
				<h2 class="title white">Tour</h2>
			</div>
	</div>
	</div>
</div>
<div id="pinta">
</div>


<div id="section" class="black">
	<div class="container">
			<h1 class="big_title">Mike Bonza Tour</h1>
			<hr class="left">

	<% @tours.each_with_index do |tour, i| %>
<div class="row">
<div class="col-md-8">
<div id="touri">
	<h3 class="bold"><%=tour.fecha %></h3> <br>
	<h3><%=tour.lugar %></h3>
	<%= link_to "Más información", tour.link, class: "button button_white" %>
</div>
</div>
</div>
	<% end %> 
	</div>
</div>