<%= render 'welcome/bread' %>


<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    	<div id="formario">

<h1>Nuevo Tour</h1>

<%= render 'form', tour: @tour %>


</div>
</div>
</div>
</div>