/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require fullcalendar
 *= require owl.carousel
 *= require photoswipe
 *= require owl.theme
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";
@import "style";

@import url('https://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:300,800');
@import url('https://fonts.googleapis.com/css?family=Homenaje');

$primary: #FFDA0F;
$secondary: #223A6D;
$light_grey: #F5F5F5;



body {
font-family: 'Homenaje', sans-serif;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;

}

p {
  font-family: 'Open Sans', sans-serif !important;
}




.button {
  transition: background-color .15s linear;
  min-width: 250px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 1px;
  height: 45px;
  cursor: pointer;
  margin-top: 25px;
  background-color: transparent;
  margin-bottom: 30px;
  text-decoration: none;
}

.button_primary {
  color: white;
  background-color: black;
  font-size: 20px;
  border-color: black;
  text-transform: uppercase;
  &:hover {
    color: black;
    background-color: white;
    border: solid 1.2px black;
  }

  &:hover > a {
  color: white;
  text-decoration: none;
  background-color: black;
  }
}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}

.button_center {
  display: block;
  margin: 0 auto !important;
  margin-top: 2rem;
  text-align: center;
}

/*navbar*/

#navin {
	.navbar {
	background-color: white !important;
	border-color: white !important;
	padding: 15px 5%;
}
}

.navbar-nav > li > a {
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 14px;
    border-bottom: solid 1.5px white;
    background-color: none;
    color: $primary !important;
}

.activo {
  border-bottom: solid 1.5px $primary;
  background-color: white !important;
}

#tara {
  margin-top: 30px;
}

/*end navbar*/


/*styles*/

.center {
	text-align: center;
}

.white {
	color: white
}

.navbar {
	margin: 0px;
}

 #content {
  width: 100%;
  overflow: hidden;
}

/*end styles*/


/*hero*/

.hero {
    background:
    linear-gradient(to right, rgba(75, 123, 211, 0.5), rgba(22, 215, 177, 0.3)),    url(asset-path("cover2.png"));
    width: 100%;
    height: 70vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
		padding: 50px 40px;
  h1 {
  	margin-top: 15%;
  	font-size: 35px;
  }
}

.hero {
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 50px 40px;
    position: fixed;
}

#home {
  background:
    linear-gradient(to right, rgba(93, 93, 93, 0.5), rgba(0, 0, 0, 0.7)),    url(asset-path("cover.png"));
  height: 100vh;
  h1 {
    margin-top: 15%;
    font-size: 35px;
  }
}

#ribu {
  img {
    width: 100%;
  }
}

/*forms*/

#formario {
  margin: 2rem 0;
  background-color: white;
  box-shadow: 0 2px 2px 0 $primary, 0 3px 1px -2px$primary, 0 1px 5px 0 $primary;
  padding: 3rem 3rem 0;
      border-radius: 0px;
      border: solid 1px #e2e8ea;
      -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
      box-shadow: 6px 6px 2px rgba(46,133,155,0.04);

h2 {

}

input[type="date"],input[type="name"], input[type="email"], input[type="textbox"], input[type="number"], input[type="tel"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 2rem;
  border:none;
  border:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  padding-left: 10px;
  }

select {
  height: 3.5rem;
  border:none;
  border:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  }

  textarea {
    height: 5rem !important;
  }
  label {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 15px;
  color: #555;
}
}

#navigator {
  ul {
    li {
      display: inline !important;
      float: left;
      margin-right: 25px;
      img {
        height: 20px;
      }
    }
  }
}


#banner {
  width: 80%;
  position: fixed;
  left: -30%;
  bottom: 0px;
  z-index: -1000;
}

#hex {
  margin-top: 200px;
  text-align: center;
}

#hexi {
  background-color: green;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding: 40% 0;
  margin-bottom: 20px;
  h2 {
    background-color: rgba(0, 0, 0, .2);
    padding: 10% 0;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
  }
  h3 {
    padding: 15% 0;
    font-size: 2em;
  }
}

.hexi-21 {
  margin-top: -150px;
  background-image: image-url("noticias.png");

}

.hexi-1 {
  margin-top: -150px;
  background-image: image-url("musica.png");
}

.hexi-3 {
  margin-top: -10px;
  background-image: image-url("videos.png");
}

.hexi-12 {
  margin-top: -50px;
  background-image: image-url("biografia.png");
}

.hexi-6 {
  margin-top: 70px;
}

.hexi-60 {
  margin-top: 170px;
  background-image: image-url("tour.png");
}

.hexi-2 {
  margin-top: 50px;
  background-image: image-url("contrataciones.png");
}


.hexi-31 {
  margin-top: -50px;
  background-image: image-url("galeria.png");
}

.hexi-30 {
  margin-top: -50px;
  background-image: image-url("contrataciones.png");
}

hr {
  border-color: #555;
  border-width: 2.5px;
  max-width: 250px;
  border-color: black;
}

#section {
  h1 {
    font-size: 2.5em;
    text-transform: uppercase;
  }
}

#noticia {
  background-color: white;
  padding: 5%;
  margin: 30px 0;
  height: 400px;

  h2 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  .image {
  height:150px;
  line-height: 150px;
  overflow:hidden;
  text-align:center;
  width:100%;
  img {
    width: 100%;
  }
  }

}

#fanzone {
  background-color: white;
  border: solid 1px black;
  padding: 5%;
  margin: 20px 0;
}

.modal {
  img {
    width: 100%;
  }
}

p {
  z-index: 10;
  position: relative;
}

.shadow {
  color: rgba(255, 218, 15, .5) !important;
  font-weight: 800;
  font-size: 100px !important;
  font-family: 'Open Sans', sans-serif !important;
  position: absolute;
  z-index: 0 !important;
  margin-top: -30px;
}

#cancion {
  margin: 50px 0;
  width: 100%;
  iframe {
    width: 100% !important;
  }
}


#cau {
  .gallery-image {
    width: 100% !important; 
    margin-bottom: 30px !important;
  }
}

#footer {
  background-color: black;
  margin-top: 20px;
  text-align: center;

  h4 {
    padding: 25px 0;
    color: white;
  }
}

#touri {
  background-color: black;
}

/*Media*/

@media (max-width: 900px)
{

#hexi {
  margin-top: 30px;
}

#hex {
  margin-top: 80px;
}

.hero {
background-attachment: unset;
}
}